{include file="index/head" /}
<div class="box">
  <div class="box-head">
  <a href="{:url('addrole')}" class="btn"><i class="icon-plus-square-o"></i>添加角色</a>
  <a href="javascript:history.go(0);" class="btn fr"><i class="icon-refresh"></i> 刷新</a>
  </div>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>角色名称</th>
      <th>角色描述</th>
      <th>状态</th>
      <th width="350">操作</th>
    </tr>
    {volist name="list" id="v"}
    <tr>
      <td>{$v.id}</td>
      <td>{$v.name}</td>
      <td>{$v.remark}</td>   
      <td>{$v.status|_status=###}</td>
      <td><a href="{:url('access',['id'=>$v.id])}" class="btn green"><i class="icon-key"></i> 权限设置</a>
      <a href="{:url('addrole',['id'=>$v.id])}" class="btn"><i class="icon-edit"></i> 编辑</a>
      <a href="javascript:void(0);" onclick="pskcms.del('{:url('delrole',['id'=>$v.id])}')" class="btn red"><i class="icon-trash-o"></i> 删除</a>
      </td>
    </tr>
    {/volist}
  </table>
</div>

