<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>PSKCMS后台管理系统</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="stylesheet" href="/public/layui/css/layui.css?v={:time()}" />
<link rel="stylesheet" type="text/css" href="_ACSS_/touchTouch.css?v={:time()}">
<link rel="stylesheet" href="_ACSS_/admin.css?v={:time()}" />
<script src="_AJS_/jquery.js?v={:time()}"></script>
<script src="_AJS_/validform5.3.2min.js"></script>
<script src="_LAYER_/layer.js?v={:time()}"></script>
<script src="/public/layui/layui.js?v={:time()}"></script>
<script src="_AJS_/touchTouch.jquery.js"></script> 
<script src="_AJS_/admin.js?v={:time()}"></script>
</head>
<body>
